@import "nib"
@import "./card/styles.styl"
@import "./battle/styles.styl"
@import "./layout/styles.styl"
@import "./status/styles.styl"
@import "./phases/styles.styl"


test(color = red)
	border 1px solid color
	box-sizing border-box

body 
	font-family Arial
	margin 0
	padding 0
	
