<!DOCTYPE html>
html(lang="es")
head
	meta(charset="UTF-8")
	title Marvel Card Game
	link(rel="stylesheet", href="./public/css/app.css")
body
	section.Layout
		section.Layout-main
			.Layout-status
				form.CharacterForm
					input.CharacterForm-name(type="text", placeholder="Agrega un personaje") 
					button Agregar
				span.CharacterForm-message
			.Layout-battle
				.Battle 
					- clase = ""
						.Battle-antagonist
						.Battle-player
							//- each card in [1,2,3,4,5]
							//- 	include ./card/template.jade
	script(src="public/util/marvel-api.js")
	script(src="public/app.js")
