<!DOCTYPE html>
html(lang="es")
head
	meta(charset="UTF-8")
	title Marvel Card Game
	link(rel="stylesheet", href="./public/css/app.css")
body
	//- h1 Marvel Card Game
	//- 
	//- include ./layout/template.jade
	.app-container

	script(src="./public/util/marvel-api.js")
	script(src="./public/app.js")
