<!DOCTYPE html>
html(lang="en")
head
	meta(charset="UTF-8")
	title Marvel Card Game
	link(rel="stylesheet", href="./public/css/app.css")
body
	//- h1 Marvel Card Game
	//- 
	include ./layout/template.jade
	script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js")
	script(src="./public/app.js")
