<!DOCTYPE html>
html(lang="es")
head
	meta(charset="UTF-8")
	title Marvel Card Game
	link(rel="stylesheet", href="./public/css/app.css")

body
	.app-container
	//- label Ingresa tu nombre
	//- input.Signin-name-input(type="text", id="firstName", name="firstName", tabindex=1, placeholder="nombre")
	//- button.Signin-button(tabindex=2) Ingresar
	script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js")
	script(src="https://cdn.rawgit.com/visionmedia/page.js/master/page.js")
	script(src="public/util/routes.js")